* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    position: relative;
    height: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid #A6C4C4;
    text-align: center;
    padding-top: 10px;
    margin-top: -10px;
}

header img {
    height: 50px;;
}

h2 {
    font-size: 1.25em;
    color: #2B4040;
    font-weight: 700;
}

h3 {
    font-size: 0.875em;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFDF5D;
    position: absolute;
    bottom: 9px;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    
}

a {
    text-decoration: none;
}

section {
    position: relative;
}

section h2 {
    display: inline-block;
    margin: 0;
}

section a {
    
}

article {
    position: relative;
    background-color: #991782;
    height: 109px;
    width: 32.5%;
    padding: 9px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
}

.container article {
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(153, 23, 130, 0.35), 
      rgba(153, 23, 130, 1)
    ),
    /* bottom, image */
    url(img/verrassing.jpg);
    background-size: cover;
    border: 0px solid #991782;
    transition: ease 0.3s;
}

.container article:hover {
    border: 4px solid #991782;
    box-sizing: inherit;
    transition: ease 0.3s;
}

.like-button {
    position: absolute;
    right: 9px;
    top: 9px;
}

.like-button input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.like-button i {
    -webkit-text-stroke: 2px #FFDF5D;
    color: rgba(0,0,0,0);
    height: 17px;
    width: 17px;
    font-size: 17px;
}

.like-button input:hover ~ i {
    color: rgba(255,223,93,0.35);
    transition: 0.3s ease;
}

.like-button input:checked ~ i {
    color: #FFDF5D;
}

.verfijnd-zoeken {
    background-color: #991782; 
    color: #fff;
    padding: 15px;
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

.verfijnd-zoeken:hover {
    transition: ease 0.3s;
    background-color: #B41D99;
}

.verfijnd-zoeken:active {
    transition: ease 0.3s;
    background-color: #991782;
}

.verfijnd-zoeken i {
    margin-left: 10px;
}

.section-top {
    display: flex;
    position: relative;
}

.section-top a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: #991782;
}

.section-top a:hover {
    transition: ease 0.3s;
    background-color: rgba(239, 192, 48, 0.4);
    border-radius: 8px;
}

.section-top a:active {
    transition: ease 0.3s;
    background-color: rgba(239, 192, 48, 1);
    border-radius: 8px;
}


/******VERFIJND ZOEKEN******/

.zoekbalk {
    width: 100%;
    height: 45px;
    border: 1px solid #991782;
    padding: 10px;
    color: #2B4040;
    font-size: 16px;
}

::placeholder {
    color: #2B4040;
    opacity: 0.5;
    font-size: 16px;
}

.genres {
    margin-top: 30px;
}

h4 {
    font-size: 14px;
    color: #2B4040;
    margin-bottom: 9px;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.genre {
    background-color: #F4EEE8;
    border: 1px solid #991782;
    display: inline-block;
    width: 32%;
    padding: 15px;
    margin-bottom: 9px;
}












